#Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*.log
*.pot
media

#Backup files
*.bak

#Environments
env/
venv/
env.bak/
venv.bak/
environment

#visual studio code
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history